/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

* {
  max-width: 1300px;
  margin: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  width: 100%;
  margin: auto;
  background: radial-gradient(#fff, #ffd6d6);
}

header .navbar {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar img {
  padding-right: 50px;
}

header .navbar .logo {
  width: 150px;
  margin-left: 30px;
}

header .navbar .logo img {
  width: 100%;
}

header .navbar nav {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
}

header .navbar nav ul {
  list-style: none;
  display: inline-block;
  padding-right: 30px;
}

header .navbar nav ul li {
  display: inline-block;
  margin: 0 20px;
}

header .navbar nav ul li a {
  text-decoration: none;
  font-size: 1em;
  font-family: Helvetica;
  font-weight: 700;
  color: #555;
}

header .row {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header .row .col-2 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  min-width: 300px;
}

header .row .col-2 h1 {
  font-family: Helvetica;
  font-size: 2em;
  line-height: 1.4em;
  margin-bottom: 20px;
  font-weight: 800;
}

header .row .col-2 img {
  width: 100%;
}

header .row .col-2 .btn {
  display: block;
  text-decoration: none;
  margin-top: 20px;
  font-family: Helvetica;
  font-size: 1em;
  background-color: rgba(233, 80, 60, 0.884);
  padding: 10px;
  color: #fff;
  border-radius: 20px;
  width: 150px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header .row .col-2 .btn:hover {
  background-color: #563434;
}

.categories {
  margin: 70px 0;
}

.categories .small-container {
  max-width: 1080px;
  margin: auto;
}

.categories .small-container .row-categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 70px 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.categories .small-container .row-categories .col-3 {
  -ms-flex-preferred-size: 31%;
      flex-basis: 31%;
  min-width: 250px;
}

.categories .small-container .row-categories .col-3 img {
  width: 100%;
}

.small-container {
  max-width: 1080px;
  margin: auto;
}

.small-container h2 {
  text-align: center;
  font-family: Helvetica;
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 30px;
}

.small-container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.small-container .row .col-4 {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  min-width: 200px;
  padding: 10px;
}

.small-container .row .col-4 img {
  width: 100%;
}

.small-container .row .col-4 h4 {
  font-family: Helvetica;
  padding: 8px 0;
}

.small-container .row .col-4 .rating {
  margin-bottom: 8px;
}

.small-container .row .col-4 p {
  font-family: Helvetica;
  color: #555;
}
/*# sourceMappingURL=main.css.map */